
<h3> {{ message }}</h3>

	Rough draft of the form
	<form ng-controller="homeCtrl" name="companySearchForm" no validate>
		<label>company #1</label><br />
		<input type="text"
			class="form-control"
			name="company1"
			ng-model="company1"
			required
			ng-minlength="2">
		<span ng-show="companySearchForm.$error.required">
		Enter at least two companies to compare.</span>
		
		<label>company #2</label><br />
		<input type="text"
			class="form-control"
			name="company2"
			ng-model="company2"
			required
			ng-minlength="2">
		<span ng-show="companySearchForm.$error.required">
			Enter at least two companies to compare.</span>
		
		<label>company #3</label>
		<input type="text"
			class="form-control"
			name="company3"
			ng-model="company3"
			ng-minlength="2">
		<input type="submit"
			ng-click="submit()"
			ng-disabled="companySearchForm.$invalid"></button>
		<button ng-click="reset()">reset</button>
	</form>


